<div class="row" ng-init="initial()">
    <div class="col-md-12">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4 class="text-center text-capitalize text-bold text-default">Purchase Health Equipment</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div name="voucherForm">
                        <table class="table table-no-border">
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label for="customerName" class="control-label">Supplier Name:</label>
                                        <div angucomplete-alt id="supplier" placeholder="Search by supplier name" pause="100"
                                             selected-object="SelectedSupplier" local-data="supplier" search-fields="name"
                                             title-field="name" minlength="1" input-class="form-control" match-class="highlight">

                                        </div>
                                    </div>
                                </td>
                                <td>
                                   
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="datepicker">Sales Date:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="date" class="form-control" ng-init="today()" ng-model="purchaseEquipment.TransactionDate" id="datepicker">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <form name="addEquipmentForm" ng-submit="addEquipment(equipment,addEquipmentForm.$valid)" novalidate>
                                        <div class="row" style="width: 100%">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label for="medicineName" class="text-bold">Equipment Name:</label>
                                                    <angucomplete id="medicineName"
                                                                  placeholder="Search by equipment name"
                                                                  pause="400"
                                                                  selected-object="selectedEquipment(selectedItem)"
                                                                  url="{{serverBasePath}}/api/health-equipment/data/equipment-name-and-id/"
                                                                  datafield="results"
                                                                  minlength="1"
                                                                  searchfields="name"
                                                                  titlefield="name"
                                                                  inputclass="form-control form-control-small" />
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label for="mlist">Measurement Unit: </label>
                                                    <select id="mlist" ng-model="equipment.MeasurementUnit" class="form-control" required>
                                                        <option value="">Select Measurement Unit</option>
                                                        <option ng-repeat="item in measurementUnitList" value="{{item}}">{{item}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label for="quantity">Quantity: </label>
                                                    <input type="number" id="quantity" ng-model="equipment.Quantity" class="form-control" placeholder="Quantity" required min="1" />
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label for="quantity">Price: </label>
                                                    <input type="number" id="price" ng-model="equipment.Rate" class="form-control" placeholder="Price.." min="1" required />
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label for="ac">Action</label><br />
                                                    <button id="ac" class="btn btn-success btn-sm" type="submit"><span class="fa fa-plus"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Equipment Name</th>
                                                <th>Measure Unit</th>
                                                <th>Quantity</th>
                                                <th>Rate</th>
                                                <th>Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in purchaseEquipment.HospitalityEquipmentPurchases">
                                                <td>{{ data.name }}</td>
                                                <td>{{ data.MeasurementUnit }}</td>
                                                <td>{{ data.Quantity }}</td>
                                                <td>{{ data.Rate }}</td>
                                                <td>{{ data.Rate * data.Quantity }}</td>
                                                <td><button class="btn btn-danger btn-sm" ng-click="removeEquipment($index)"><span class="fa fa-trash"></span></button></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="vat">VAT: </label>
                                                        <input type="number" class="form-control" ng-model="purchaseEquipment.Vat" id="vat" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="discount">Discount: </label>
                                                        <input type="number" class="form-control" ng-model="purchaseEquipment.Discount" id="discount" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="due">paid: </label>
                                                        <input type="number" class="form-control" ng-model="purchaseEquipment.Paid" id="paid" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="total">Total: </label>
                                                        <input type="number" class="form-control" ng-model="purchaseEquipment.Total" ng-value="getTotal()" id="total" readonly="readonly" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="due">Due: </label>
                                                        <input type="number" class="form-control" ng-model="purchaseEquipment.Due" ng-value="getDue()" id="due" readonly="readonly" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">
                                    <div class="form-group">
                                        <br />
                                        <button type="submit" ng-click="savePurchaseEquipment(purchaseEquipment)" class="btn btn-primary btn-block" ng-disabled="isProcessing"><i ng-if="!isProcessing" class="fa fa-unlock" aria-hidden="true"></i><i ng-if="isProcessing" class="fa fa-spinner fa-spin fa-1x fa-fw"></i> {{submitButton}}</button>
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
                <!--<div class="panel-footer"><strong>Accounting voucher</strong></div>-->
            </div>
        </div>
    </div>
</div> 