<div class="row" ng-init="initButton()">
    <div class="col-md-12">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4 class="text-center text-capitalize text-bold text-default">Payment Receive</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div name="voucherForm">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Patient Search</h4>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="customerName" class="control-label">Customer Name:</label>
                                    <angucomplete id="medicineName"
                                                  placeholder="Search by patient ID"
                                                  pause="400"
                                                  selected-object="SelectedPatient(selectedItem)"
                                                  url="{{serverBasePath}}/api/ipd/patient-data/admited-patient/"
                                                  datafield="results"
                                                  minlength="1"
                                                  searchfields="patientNumber"
                                                  titlefield="patientNumber,name"
                                                  descriptionfield="phone"
                                                  inputclass="form-control form-control-small" />
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="isPatientInfo">
                            <div class="col-lg-12">
                                <h4>Patient Information</h4>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="phone">Name:</label>
                                    <!--<input type="text" class="form-control" ng-model="patientInfo.name" id="phone" readonly>-->
                                    <br />
                                    <span class="form-control">{{patientInfo.name}}</span>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="phone">Father/Husband Name:</label>
                                    <!--<input type="text" class="form-control" ng-model="patientInfo.fatherName" id="phone" readonly>-->
                                    <br />
                                    <span class="form-control">{{patientInfo.fatherName}}</span>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="phone">Phone:</label>
                                    <!--<input type="text" class="form-control" ng-model="patientInfo.phone" id="phone" readonly>-->
                                    <br />
                                    <span class="form-control">{{patientInfo.phone}}</span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-primary btn-block" type="button" ng-disabled="isProcessing"  ng-click="SearchPaymentInfo(patientInfo.admissionId)"><i class="fa fa-search"></i> {{searchButton}}</button>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row" ng-if="isResult">
                            <div class="col-lg-12 text-center text-background">
                                <h4><b>Payment Information</b></h4>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="phone">Total:</label>
                                    <!--<input type="text" class="form-control" ng-model="patientPaymentInfo.total" id="phone" readonly>-->
                                    <br />
                                    <span class="form-control">{{patientPaymentInfo.total}}</span>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="phone">Discount:</label>
                                    <!--<input type="text" class="form-control" ng-model="patientPaymentInfo.discount" id="phone" readonly>-->
                                    <br />
                                    <span class="form-control">{{patientPaymentInfo.discount}}</span>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="phone">Vat:</label>
                                    <!--<input type="text" class="form-control" ng-model="patientPaymentInfo.vat" id="phone" readonly>-->
                                    <br />
                                    <span class="form-control">{{patientPaymentInfo.vat}}</span>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="phone">Paid:</label>
                                    <!--<input type="text" class="form-control" ng-model="patientPaymentInfo.paid" id="phone" readonly>-->
                                    <br />
                                    <span class="form-control">{{patientPaymentInfo.paid}}</span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="phone">Due:</label>
                                    <!--<input type="text" class="form-control" ng-model="patientPaymentInfo.due" id="phone" readonly>-->
                                    <br />
                                    <span class="form-control">{{patientPaymentInfo.due}}</span>
                                </div>
                            </div>

                            <div class="col-lg-12 text-center text-background">
                                <h4><b>Admission Information</b></h4>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="phone">Admission Fee:</label>
                                    <!--<input type="number" class="form-control" ng-model="patientPaymentInfo.admission.admissionFee" id="phone" readonly>-->
                                    <br />
                                    <span class="form-control">{{patientPaymentInfo.admission.admissionFee}}</span>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="phone">Contract Amount:</label>
                                    <!--<input type="number" class="form-control" ng-model="patientPaymentInfo.admission.contractAmount" id="phone" readonly>-->
                                    <br />
                                    <span class="form-control">{{patientPaymentInfo.admission.contractAmount}}</span>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="phone">Discharge Status:</label>
                                    <br />
                                    <span ng-if="patientPaymentInfo.admission.isDischarged" class="label label-success form-control">Discharged</span>
                                    <span ng-if="!patientPaymentInfo.admission.isDischarged" class="label label-info form-control">Admitted</span>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="phone">Admission Date:</label>
                                    <br />
                                    <span class="form-control">{{patientPaymentInfo.admission.admissionDate|date}}</span>
                                </div>
                            </div>

                            <div class="col-lg-12 text-center text-background">
                                <h4><b>Medicine Requisition</b></h4>
                            </div>

                            <div class="col-lg-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>Medicine Name</th>
                                            <th>Quantity</th>
                                            <th>Rate</th>
                                            <th>Price</th>
                                            <th>Sold Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="medicine in patientPaymentInfo.medicineSales">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ medicine.medicineName }}</td>
                                            <td>{{ medicine.quantity }}</td>
                                            <td>{{ medicine.rate }}</td>
                                            <td>{{ medicine.price }}</td>
                                            <td>{{ medicine.soldDate|date }}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-lg-12 text-center text-background">
                                <h4><b>Pathology Requisition</b></h4>
                            </div>

                            <div class="col-lg-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>Pathology Name</th>
                                            <th>Quantity</th>
                                            <th>Rate</th>
                                            <th>Price</th>
                                            <th>Sold Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pathology in patientPaymentInfo.testSales">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ pathology.testName }}</td>
                                            <td>{{ pathology.quantity }}</td>
                                            <td>{{ pathology.rate }}</td>
                                            <td>{{ pathology.price }}</td>
                                            <td>{{ pathology.soldDate |date }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-lg-12 text-center text-background">
                                <h4><b>Health Equipment Requisition</b></h4>
                            </div>

                            <div class="col-lg-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>Health Equipment Name</th>
                                            <th>Measure Unit</th>
                                            <th>Rate</th>
                                            <th>Price</th>
                                            <th>Sold Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="equipment in patientPaymentInfo.equipmentSales">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ equipment.equipmentName }}</td>
                                            <td>{{ equipment.measurmentUnit }}</td>
                                            <td>{{ equipment.rate }}</td>
                                            <td>{{ equipment.price }}</td>
                                            <td>{{ equipment.soldDate| date }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-lg-12 text-center text-background">
                                <h4><b>Health Equipment Requisition</b></h4>
                            </div>
                            <form name="formData" ng-submit="ipdPayment(paymentInfo, formData.$valid)" novalidate>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="phone">Payment: </label>
                                        <input type="number" class="form-control" ng-model="paymentInfo.Paid" min="1" required>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="datepicker">Transaction Date:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="date" class="form-control" ng-model="paymentInfo.TransactionDate" id="datepicker" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="phone" style="color: white">Payment: </label>
                                        <button type="submit" class="btn btn-block btn-success" ng-disabled="isProcessing"><i class="fa fa-money"></i> {{paymentButton}}</button>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--<div class="panel-footer"><strong>Accounting voucher</strong></div>-->
            </div>
        </div>
    </div>
</div> 