<div class="row" ng-init="initButton()">
    <div class="col-lg-4" ng-if="!isUpdatable">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4 class="text-center text-capitalize text-bold text-default">Save MIS Name</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <form name="formdata" ng-submit="saveMisName(MIS,formdata.$valid)" novalidate>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="name">MIS Name</label>
                                    <input type="text" class="form-control" id="name" ng-model="MIS.name" placeholder="MIS Name" required />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type="submit" id="btn" class="btn btn-primary btn-block" ng-disabled="isProcessing"><i class="fa fa-floppy-o" aria-hidden="true"></i> {{createButton}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4" ng-if="isUpdatable">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4 class="text-center text-capitalize text-bold text-default">Update MIS Information</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <form name="formdata" ng-submit="updatedMIS_Information(updateMIS,formdata.$valid)" novalidate>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="name">MIS Name</label>
                                    <input type="text" class="form-control" id="name" ng-model="updateMIS.name" placeholder="MIS Name" required />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <button type="submit" id="btn" class="btn btn-primary btn-block" ng-disabled="isProcessing"><i class="fa fa-floppy-o" aria-hidden="true"></i> {{updateButton}}</button>
                            </div>
                            <div class="col-lg-6">
                                <button type="button" class="btn btn-danger btn-block" ng-click="cancelUpdate()" ng-disabled="isProcessing"><i class="fa fa-times"></i> Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4 class="text-center text-capitalize text-bold text-default">MIS Name List</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <table datatable="ng" class="table table-responsive-wide table-bordered table-hover row-border hover">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>MIS Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="MIS in MISNameList">
                                <td>{{$index + 1}}</td>
                                <td>{{MIS.name}}</td>
                                <td>
                                    <button class="btn btn-warning btn-sm" ng-click="UpdateMIS(MIS)" type="submit"><span class="fa fa-pencil-square-o"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>