<div class="row" ng-init="initButton()">
    <div class="col-md-12">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4 class="text-center text-capitalize text-bold text-default">Payment Receive</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div name="voucherForm">
                        <div class="row">
                            <form name="invoiceSearch" ng-submit="searchReportDelivery(invoiceNumber, invoiceSearch.$valid)" novalidate>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="invoice">Invoice Number: </label>
                                        <input type="text" class="form-control" value="SP-" ng-model="invoiceNumber" id="invoice" required />
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <label for="invoice" style="color: white !important">Search Button</label>
                                    <button type="submit" ng-disabled="isProcessing" class="btn btn-primary btn-block"><i class="fa fa-search"></i> {{searchButton}}</button>
                                </div>
                                <div class="col-lg-1">

                                </div>
                            </form>
                        </div>
                        <div class="row" ng-if="isResult">
                            <div class="col-lg-12">
                                <h4>Patient Information</h4>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="discount">Patient Name: </label>
                                    <input type="text" class="form-control" ng-value="testReport.patientName" id="discount" disabled />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="delivery">Delivery Report: </label>
                                    <span ng-if="testReport.isReportDelivered" name="delivery" class="label label-success">Delivery</span>
                                    <span ng-if="!testReport.isReportDelivered" name="delivery" class="label label-danger">Pending</span>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="isResult">
                            <div class="col-lg-12">
                                <h4>Test Report Details</h4>
                            </div>
                            <div class="col-lg-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>Name</th>
                                            <th>Unit Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="report in testReport.saleDetail">
                                            <td>{{ $index + 1}}</td>
                                            <td>{{ report.name }}</td>
                                            <td>{{ report.price }}</td>
                                            <td>{{ report.quantity }}</td>
                                            <td>{{ report.subTotal }}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="form-group">
                                                    <label for="discount">Discount: </label>
                                                    <input type="number" class="form-control" ng-value="testReport.discount" id="discount" disabled />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label for="due">Paid: </label>
                                                    <input type="number" class="form-control" ng-value="testReport.paid" id="paid" disabled />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label for="total">Due: </label>
                                                    <input type="number" class="form-control" ng-value="testReport.due" id="total" readonly="readonly" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label for="due">Total: </label>
                                                    <input type="number" class="form-control" ng-value="testReport.total" id="due" readonly="readonly" />
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row" ng-if="isResult">
                            <form name="paymentForm" ng-submit="paymentReceive(payment, paymentForm.$valid)" novalidate>
                                <div class="col-lg-12">
                                    <h4>Payment Details</h4>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="discount">Pay: </label>
                                        <input type="number" class="form-control" ng-model="payment.amount" id="discount" required />
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="discount">Transaction Date: </label>
                                        <input type="date" class="form-control" ng-model="payment.TransactionDate" id="discount" required />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="pull-left">
                                        <button type="submit" ng-disabled="isProcessing" class="btn btn-primary btn-block"><i class="fa fa-file" aria-hidden="true"></i> {{paymentButton}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>